.header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.titles {
    display: flex;
    flex-flow: row;
}

.links {
    display: flex;
    flex-flow: row;
}

.links > a:not(:last-child) {
    margin-right: 10px;
}