:root {
    --transition: all ease 0.25s;
    --accent-color: #898989;
    --secondary-color: #d2d2d2;
    --text-color: #000000;
    --header-heigth: 50px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, sans-serif;
    background: #DAE0E6;
    font-size: 15px;
}

#root {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: 100%;
}

a {
    font-family: inherit;
    text-decoration: unset;
}

h1, h2, h3, h4, h5, h6, p, span {
    color: var(--text-color);
    line-height: 1.5;
}

@keyframes :global(fadeIn) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}