:root {
    --transition: all ease 0.25s;
    --accent-color: #898989;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, sans-serif;
    background: #DAE0E6;
    font-size: 15px;
}

#root {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: 100%;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: inherit;
}