.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    height: var(--header-heigth);
    padding: 0 20px;
    border-bottom: 1px solid var(--secondary-color);
}

.titles {
    display: flex;
    flex-flow: row;
}

.links {
    display: flex;
    flex-flow: row;
}

.link {
    cursor: pointer;
}

.link:not(:last-child) {
    margin-right: 10px;
}